html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

:root {
  --font-family: Heebo, sans-serif;
}

.bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #E8B282;
}
.mail-popup {
  position: relative;
border-radius: 26px;
width: 552px;
background-color: #fff;
display: flex;
flex-direction: column;
font-family: 'DM Sans', sans-serif;
padding: 53px 52px 65px;
justify-content: center;
align-items: center;
}
.mail-popup__close {
  position: absolute;
  right: 22px;
  top: 22px;
}
.mail-popup__logo {
  border-radius: 32px;
width: 112px;
height: 112px;
background-color: #FAF0F5;
}
.mail-popup__title {
  margin-top: 20px;
  font-weight: 700;
  color: #180E4D;
  font-size: 27px;
}
.mail-popup__text {
  margin-top: 11px;
  color: #797785;
  font-size: 14px;
line-height: 100%;
letter-spacing: 0.01em;
text-align: center;
}
.mail-popup__subscribe {
  margin-top: 31px;
  border: 1px solid #F3F5F9;
border-radius: 32px;
width: 448px;
height: 63px;
display: flex;
justify-content: space-between;
padding: 9px;
}
.mail-popup__input {
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
letter-spacing: 0.01em;
color: #747187;
margin-left: 12px;
}
.mail-popup__button {
  border-radius: 32px;
font-family: 'DM Sans', sans-serif;
border: none;
color: #fff;
background-color: #F67B45;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.01em;
margin-left: 17px;
width: 122px;
}
